body {
    background: #35A9DB;
    font-family: roboto;
    text-align: center;
}

h1, h2 {
    color: #ffffff;
}

.ketengah {
    margin: 10px auto;
    width: 1150px;
}

.kotak1 {
    background: #fcfcfc;
    padding: 20px;
    width: 150px;
    height: 150px;
    float: left;
    margin: 50px;
}

.kotak2 {
    background: #fcfcfc;
    padding: 20px;
    width: 150px;
    height: 150px;
    float: left;
    margin: 50px;
    transform: skew(20deg); /*Standard syntax*/
    -ms-transform: skew(20deg); /*Support IE 9*/
    -webkit-transform: skew(20deg); /*Support Safari*/
}

.kotak3 {
    background: #fcfcfc;
    padding: 20px;
    width: 150px;
    height: 150px;
    float: left;
    margin: 50px;
    transform: skew(30deg, 20deg); /*Standard syntax*/
    -ms-transform: skew(30deg, 20deg); /*Support IE 9*/
    -webkit-transform: skew(30deg, 20deg); /*Support Safari*/
}

.kotak4 {
    background: #fcfcfc;
    padding: 20px;
    width: 150px;
    height: 150px;
    float: left;
    margin: 50px;
    transform: skewY(20deg); /*Standard syntax*/
    -ms-transform: skewY(20deg); /*Support IE 9*/
    -webkit-transform: skewY(20deg); /*Support Safari*/
}

.kotak5 {
    background: #fcfcfc;
    padding: 20px;
    width: 150px;
    height: 150px;
    float: left;
    margin: 50px;
    transform: skewX(20deg); /*Standard syntax*/
    -ms-transform: skewX(20deg); /*Support IE 9*/
    -webkit-transform: skewX(20deg); /*Support Safari*/
}